PYTHONPATH=./src
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=barcode_db
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_pass
DATABASE_URL=postgresql+asyncpg://postgres:your_password@localhost:5432/barcode_db
JWT_SECRET=your_jwt_secret
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_smtp_pass
FROM_EMAIL=no-reply@yourapp.com